## .NET Core
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

## Archivos locales de paquetes
packages-microsoft-prod.deb

## macOS / Linux
.DS_Store
Thumbs.db
